body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  
}
 /* nav bar style  */
#input-field{
  border-radius: 50px 0px 0px 50px;
}
#search-btn{
  border-radius: 0px 50px 50px 0px;
}
/* products style  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: rgba(226, 201, 201, 0.178);
  box-shadow: 2px 2px 4px gray;
  margin: 15px;
  height: 44rem;
  border-radius: 5px;
}
.single-product:hover {
  box-shadow: 5px 5px 7px gray;
  border-radius: 30px;
  border: 1px solid cyan;
}
.product-image {
  width: 98%;
  height: 17rem;
  padding-bottom: 10px;
  border-radius: 20px;
}
.fa-star-half-alt{
  color:rgba(255, 140, 0, 0.705);
}
.fa-star{
  color:rgba(255, 140, 0, 0.705);
}
.fa-vote-yea{
  color: forestgreen;
}
.cart {
  width: 350px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgba(226, 202, 202, 0.178);
  
}
.cart-main {
  padding-right: 30px;
}
 
/* media query  */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
.search-box {
  width: 75%;
}
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

}
